/** Style **/

body {
    background-image: url("../images/tableau-vide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1 {
    margin: 30px 0;
    font-family: Banyu langits, sans-serif;
}

main {
    min-height: calc(100vh - 56px - 60px);
}

form td {
    vertical-align: center;
}

footer {
    position: relative;
    color: #000000;
    background-color: #F8F9FA;
    height: 60px;
}

footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    text-align: center;
}

/** Classes **/

.yellow {
    color: #fdb13c;
}

.m-bot {
    margin-bottom: 50px;
}

/** IDs **/

#select {
    margin: 50px 0
}

#formRetry {
    width: 100%;
}

#tableDiv {
    display: none;
}

/** Fonts **/

@font-face {
    font-family: 'Banyu langits';
    src: url("../fonts/Banyu langits.otf");
}